
#calculAge {
    width: 500px;
    border: solid 5px #ff9c9c;
}


#calAgeButton {
    display: block;
    border-radius: 3px;
    font-size: 25px;
    margin: 10px auto;
    background-color: lightpink;
    color: #332e2e;
}

#result_calAge {
    text-align: center;
}







