* {
    box-sizing: border-box;
}

#container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}

input[type="text"] {
    width: 370px;
    float: left;
    height: 30px;
    padding-left: 30px;
}

button {
    width: 90px;
    height: 30px;
    float: right;
    background-color: #ff9c9c;
    color: #fff;
    border: none;
}

hr {clear: both;}
ul {list-style: none; background-color: rgba(255, 156, 156, 0.31); padding: 10px 20px; display: none;}
li {line-height: 2.5; padding-left: 10px; margin-top: 3px; background-color: #ffffff; }
li:hover {cursor: pointer;}


/*
.hidden {
    display: none;
}

.nonhidden {
    display: block;
}
*/