#container {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #000000;
}

/** {margin: 20px auto;}*/
/* *: 전체 선택자, 웹 브라우저 기본 스타일 초기화할 때 자주 사용*/

p {font-style: italic; text-align: center;}
/*타입 선택자: 모든 p요소에 스타일을 적용*/

.padding {
    padding-left: 10px;
    display: block;}

.accent {
    border: 1px solid #000; /*테두리*/
    padding: 10px; /*테두리와 내용 사이 여백*/
    /*순서는 상 하 좌 우 , 두 개만 쓰면 상.하 좌.우 */
}

.bg {background-color: rgba(177, 231, 171, 0.93);} /*배경색*/
/*클래스 선택자: 한 요소에 클래스 스타일 여러개 적용 가능*/

.cosmo {
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
}

#skyBox {
    /*margin-top: 100px;*/
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
}

#skyText {
    background: url("../image/bgSky.png");
    text-align: center;
    color: #ffffff;
    text-shadow: #51567d;
    padding: 10px;
    /*margin-left: 40px;*/
    border: black 3px solid;
    margin-top: 50px;
    display: block;
}