
#container {
    width: 800px;
    margin: 20px auto;}

.box {
    width: 500px;
    margin: 30px;
}

input[type=button] {
    display: block;
    border-radius: 3px;
    font-size: 25px;
    margin: 10px auto;
}


.result {
    text-align: center;
}

#sumNums {
    border: solid 5px #ffd28a;
}


#calNumButton {
    background-color: #ffd28a;
    color: #332e2e;
}





#calculAge {
    border: solid 5px #ff9c9c;
}

#calAgeButton {
    background-color: lightpink;
    color: #332e2e;
}








