
#container {
    width: 800px;
    margin: 20px auto;}



.box {
    width: 500px;
    margin: 30px;
}

#sumNums {
    border: solid 5px #ffd28a;
}

#calculAge {
    border: solid 5px #ff9c9c;
}

#calWeight {
    border: solid 5px #a1e7a1;
}
input[type=button] {
    display: block;
    border-radius: 3px;
    font-size: 25px;
    margin: 10px auto;
}


#calNumButton {
    background-color: #ffd28a;
    color: #332e2e;
}

#calAgeButton {
    background-color: lightpink;
    color: #332e2e;
}

#calWeightButton {
    background-color: #a1e7a1;
    color: #222222;
}


.result {
    text-align: center;
}








