
#container {
    width: 800px;
    margin: 0 auto;
}

h1 {text-align: center;}

.resultBox {
    width: 500px;
    margin: 40px auto;
    background-color: #ffefa0;
    border: 1px solid black;

}

input[type=button] {
    display: block;
    border-radius: 3px;
    font-size: 25px;
    margin: 50px auto;
}

#randomValue {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}








